*.bs
*.c
*.lst
*.o
*.obj
*.pdb
*.def
*.res
Makefile
Makefile.old
Opt
XS/ItemContainer.xs
XS/ItemContainerImmutable.xs
XS/VarHScrollHelper.xs
XS/VarHVScrollHelper.xs
XS/VarScrollHelperBase.xs
XS/VarVScrollHelper.xs
blib
cpp/ovl_const.cpp
cpp/ovl_const.h
cpp/setup.h
cpp/v_cback_def.h
cpp/wxPerl.osx/build
cpp/wxPerl.osx/wxPerl.r
ext/*/*.c
pm_to_blib
wxt_*
xspp
