name: CI for Linux

on:
    push:
        branches:
          - 'master'
    pull_request:
        branches:
          - 'master'

jobs:
  perl-job:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - 'latest'
    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}     # https://hub.docker.com/r/perldocker/perl-tester
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - name: Install wxWidgets
        run: |
          apt-get install libalien-wxwidgets-perl
      - name: Install Dependencies
        run: cpanm --installdeps --notest .
      - name: Make, but do not run tests
        run: |
            perl Makefile.PL
            make

